 .modal-backdrop{
  opacity: 0.5 !important;
 }
 .modal-body{
    text-align: center;
    height: 130px;
    top:50px;
 } 
 .modal-share-dialog{
  margin-left: 30%;
  margin-top: 25%;
 }
 .modal-share-body{
  text-align: center;
    height: 130px;
    top:50px;
 }

.input-box{
  width:70%;
  padding: 5px 20px;
  margin: 30px 0;
  border: 2px solid black;
  border-radius: 4px;
}
 .modal-content{
   background-color: #f8f9fb;
   top: 200px;
   width: 500px;
   height: 350px;
 }
 .delete-modal-content{
   background-color: #f8f9fb;
   margin-top: 50%;
   width: 500px;
   height: 200px;
 }
 .modal-share{
   background-color: #f8f9fb;
   top: 200px;
   width: 500px;
   height: 100px;
   
 }
 .clipboard{
 margin-bottom:5px;

 }

 .modal-image{
 	  align-content: center;
 	  display: block;
	  margin-left: auto;
	  margin-right: auto;
	  margin-top:150px;
	  
}

 .btn-dam {
 background-color: #0f376e;
 border: none;
 border-radius: 32px;
 color: white;
 padding: 16px 32px;
 text-align: center;
 font-size: 16px;
 margin: 4px 2px;
 opacity: 0.6;
 transition: 0.3s;
}

.btn-dam:hover {opacity: 1;
}

.modalText{
    color: #0f376e;
}
