.modal-frame{
  margin-top:150px;
  width: 459px;
  height: 206px;
  border-radius: 8px;
  background-color: #f8f9fb;
}

.modal-button{
  width: 117px;
  height: 44px;
  border-radius: 32px;
  border: solid 0.2px #979797;
  background-color: #5b6e8b;
  color:#ffff;
  margin: 5px;
}
.modal-button:hover{
	color:#ffff;
}

.modal-text{
	padding: 30px;
}

.modal-text-alert{
	color:red;
	padding: 30px;
}

.modal-backdrop
{
    opacity:0.2 !important;
}