.container-fluid{
  padding: 20px;
}
.pos {
  margin-top: 15px;
  width: 180px;
  height: 47px;
  position: relative;
}


.pos-clicked {
  margin-top: 15px;
  width: 180px;
  height: 47px;
  border-radius: 5px; 
   box-shadow: 0 2px 4px 0 rgba(219, 227, 245, 0.5); 
  border: solid 0.2px #979797; 
    background-color: #f8f9fb; 
    position: relative;
}


.text{
  position: relative;
  left: 0px;
  top: 10px;
  font-family: HelveticaNeue;
  color: #0a1f44;
}

.icon{
  position: relative;
  left: 0px;
  top: 10px;
}