.container-fluid{
    padding:20px;
}

 
.ver1{
   margin-left: 50px;
 }

.dam-icon{
 padding: 8px;
}
.edit-dam-icon{
  color:#aaa;
}

.ver{
 display: block;
} 


.setting {
    margin-top: 500px;
    margin-left: 8px;
}

.field{
 color: #0A1F44;
 padding: 40px;
}





